POSTGRES_DB=ikcneszzs
POSTGRES_USER=ikcneszzs
POSTGRES_PASSWORD=localpassword
REDIS_PASSWORD=localredis
LOCAL_SUPERADMIN_EMAIL=admin@ikcneszzs.local
LOCAL_SUPERADMIN_PASSWORD=MySecretPassword123!
OPENROUTER_API_KEY=
